<h1>New User</h1>
<p>Create a new user</p>

<%= form_for(@user, :method => 'post') do |f| %>
<%= render(:partial => 'form', :locals => {:f => f})%>
  <div>
    <%= f.submit('Create user')%>
  </div>
<% end %>

<%= link_to('Back to users', users_path) %>
