<table>
  <tr>
    <th>User ID</th>
    <td><%= f.text_field(:user_id) %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= f.text_field(:location) %></td>
  </tr>
  <tr>
    <th>Issue</th>
    <td><%= f.text_field(:issue) %></td>
  </tr>
  <tr>
    <th>Solved</th>
    <td><%= f.text_field(:solved) %></td>
  </tr>
</table>
