<h1>New Bug</h1>
<p>Create a new bug</p>

<%= form_for(@bug, :method => 'post') do |f| %>
<%= render(:partial => 'form', :locals => {:f => f})%>
  <div>
    <%= f.submit('Create Bug')%>
  </div>
<% end %>

<%= link_to('Back to Bug', bugs_path) %>
